# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
# Virtual environment
venv/
env/
.venv/

# Environment variables
.env

# Heroku local files
.heroku/
.heroku-cache/

# Logs
*.log

# SQLite database (dacă folosești local)
*.sqlite3

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# pytest
.pytest_cache/

# mypy
.mypy_cache/
